<header-component>
</header-component>

<index-component></index-component>

<div class="content-wrapper">
    <div class="page-title">
        <div>
            <h1><i class="fa fa-th-list"></i> Edição</h1>
            <p>Edição de candidatos</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li routerLink="/"><a href="#">Candidatos</a></li>
                <li class="active"><a href="#">Edição</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-12">
            <pre>{{route}}</pre>
        </div>
    </div>
</div>